<h1>City Name: @cityName </h1>
<h2>Date: @date</h2>
<h3>Temperature (F): @temperature</h3>

@code {
    private string cityName = "New York";
    private DateTime date = DateTime.Now;
    private int temperature = 72;
}
