@using Syncfusion.Blazor
@using Syncfusion.Blazor.DropDowns
@using WeatherApp.Models;
@using WeatherApp.UseCases.Interfaces;

<div id="search-zip-div" style="display: flex; justify-content: center; align-items: center;">
    <div class="form-floating mb-3" style="display: flex;">
        <input type="number"
               id="zipcode-input"
               class="form-control"
               placeholder="54904"
               style="margin-right: 5px;"
               @bind-value="zipCode" />
        <label for="zipcode-input">Zipcode</label>

        <button type="button"
                id="submit-button"
                class="btn-success input-group-text"
                @onclick="OnSearchZip">Search</button>
    </div>
</div>

@code {
    private Forecast forecast = new Forecast();
    private int zipCode = 54904;

    [Parameter]
    public EventCallback<int> SearchForZipCodeChanged { get; set; }

    private void OnSearchZip()
    {
        SearchForZipCodeChanged.InvokeAsync(zipCode);
    }
}
