@using Syncfusion.Blazor
@using Syncfusion.Blazor.DropDowns
@using WeatherApp.Models;
@using WeatherApp.UseCases.Interfaces;

<div class="input-group">
    <input type="number"
        class="form-control"
        placeholder="Type in Zipcode"
        @bind-value="zipCode" />

    <button type="button"
        class="btn-success input-group-text"
        @onclick="OnSearchZip">Search</button>
</div>

@code {
    private Forecast forecast = new Forecast();
    private int zipCode = 54904;

    [Parameter]
    public EventCallback<int> SearchForZipCodeChanged { get; set; }

    private void OnSearchZip()
    {
        SearchForZipCodeChanged.InvokeAsync(zipCode);
    }
}
